.my_header{
     width: 100%;
    height: 19.5rem;
 }
.my_footer{
    width: 100%;
    height: 13.8rem;
}
body{
    background-color:rgb(245,245,245);
}
.biao{
    width: 5rem;
}
.big{
    font-size: 2rem;
    font-weight: bold;
    color: #666;
}

.center{
    display: inline-block;
    margin: 0;
}
.center>span{
    vertical-align: middle;
    margin-left: 1rem;
}
.user{
    background-color: transparent;
    border: 1px solid #b9bbbe;
    padding: 1rem;
    width: 90%;
}
.user>input{
     height: 2.7rem;
     border:2px solid #dddddd;
     padding: 0.5rem;
}
.user>input:focus{
    border-color:#fff !important;
}
