.big1{
    font-size: 5rem;
}
.big2{
    font-size: 3rem;
}
.big3{
    font-size: 2rem;
}
.big4{
    font-size: 1.3rem;
}
.big1_w{
    font-size: 5rem;
    color: #ffffff;
}
.big2_w{
    font-size: 3rem;
    color: #ffffff;
}
.big3_w{
    font-size: 2rem;
    color: #ffffff;
}
.big4_w{
    font-size: 1.3rem;
    color: #ffffff;
}